#landing {
    background: 
      /* top, transparent red, faked with gradient */ linear-gradient(
        rgba(0, 30, 255, 0.567),
        rgba(149, 0, 187, 0.933)
      ),
      /* bottom, image */ url(https://i.pinimg.com/originals/28/23/89/282389fb96a75bb104b35d826443980c.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }

  #cameron{
    transform: translateY(50px);
  }

  .projects-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.projects-container img{
    max-height: 100%;
    max-width: 26rem;
    flex-grow: 1;
    object-fit: cover;
}

html, body{
  overflow-x: hidden;
  font-family: 'Koulen', cursive;
}

.testimonial-slider .carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  background-color: #0dcaf0;
  border-radius: 100%;
}
.testimonial-slider {
  padding: 10px 0px 40px;
}

.testi{
  width: auto;
  height: 500px;
}
  